.btn-primary:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%), 0 4px 10px rgb(0 123 255 / 25%);
}

.btn-warning:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%), 0 4px 10px rgb(255 180 0 / 25%);
}

// .btn-light {
//   background-color: rgb(248 249 250 / 75%);
// }

.btn-circle {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 60px;
  height: 60px;
}